header {
  height: 10% !important;
  background-color: #40b2df;
  margin: 0;
  display: flex;
  padding: 10px; }
  header h1 {
    width: 50%; }
  header ul {
    right: -35%;
    position: relative; }
    header ul a {
      font-size: 20px;
      text-transform: uppercase;
      color: darkblue;
      text-decoration: none; }
